{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h2> Edit User </h2>
    <form action="/user/edit/{{ user['user_id'] }}" method="POST" id="edit-user-form">
      {{ form.hidden_tag() }}
      <div>
        <img src="{{ user['pp_full_url'] }}" alt="{{ user['pp_url'] }} " width="300" height="200">
      </div>
      <div class="row">
        {{ form.username.label }}<br>
        {{ form.username(size=30, value=user['name']) }}
      </div>
      <br>
      <div class="row">
        {{ form.password.label }}
        {{ form.password(size=12, value=user['password']) }}
      </div>
      <br>
      <br>
      <div>
        <input type="submit" name="Update" value="Update">
        <input type="submit" name="Delete" value="Delete" onclick="return confirm('Are you sure you wish to delete?');">
      </div>
    </form>
    {% if flag %}
      <p> User updated! </p>
    {% endif %}
  </div>
{% endblock %}